@*@model IEnumerable<Tuturno.Models.Analistas>
@using GridMvc.Html*@
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuturnoXD</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="~/Scripts/autorizacionjs.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/StyleMenu.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #00B2FF;">
        <div class="container-fluid">
            <div class="navbar-brand" href="javascript:void(0)"> <img src="~/imagenes/turno.jpg" alt="Logo" style="width:40px;" class="rounded-pill"></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <b> <a class="nav-link" style="color:white;  text-shadow: 2px 2px 2px gray;">TUTURNO-XD</a></b>
                    </li>

                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto">
                        <li class="p-2 "> <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#ModalAutorizacion">Administrar</a></li>
                        <li class="p-2 "> <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#ModalAutorizacion">Ajustar turno</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav animate__animated animate__fadeInRight">
        <a href="@Url.Action("Index2","Home")" id="refri" style=" background-color: #750AE7;">Refri&Micro</a>
        <a href="@Url.Action("Index","Home")" id="agua" class=" bg-info">Agua</a>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - Tecnologías .NET - AF - V. 1.0.17.11.2022</p> -Solo tenia el calendario de agua*@
            <p>&copy; @DateTime.Now.Year - Tecnologías .NET - AF - V. 2.0.8.12.2022</p>
        </footer>
    </div>
    <!-- The Modal -->
    <div class="modal" id="ModalAutorizacion">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <h4 class="modal-title">Autorización</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="password" id="pwd" class="form-control" placeholder="Ingresa contraseña" name="password">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="tTurno" class="form-control" placeholder="Tipo de turno" name="tipoTurno" />
                        </div>
                        <div class="col-sm-5">
                            <button type="button" id="btnConfirmar" class="btn btn-primary" onclick="autorizacion()">Confirmar</button>
                            @*<input type="submit" name="btnConfirmar" class="btn btn-primary" value="Confirmar" />*@
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        // Initialize tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</body>
</html>
