@model IEnumerable<Tuturno.Models.AnalistasM>
@using GridMvc.Html
@using System.Globalization;
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-2 rounded text-center animate__animated animate__backInDown" style="background-color: #EBEFF1;">
    <h1>ROL DE LIMPIEZA REFRIGERADOR Y MICROONDAS @DateTime.Now.Year</h1>

</div>
<div class="row">
    <div class="col-md-4">
        @{
            int totalM = @Model.ToList().Where(c => c.NombreCompleto1 != "").Count() + @Model.ToList().Where(c => c.NombreCompleto2 != "").Count();
        }
        <div class="col-md-12 text-white rounded text-center animate__animated animate__bounceInLeft" style="background-color: #08AB98;" data-bs-toggle="tooltip" title="@totalM  Analistas registrados">
            <h1>Analistas</h1>
        </div>

        <div class="col-md-12 rounded text-center animate__animated animate__bounceInUp" style="background-color: #C0EDE6; ">
            <div class="table-responsive">

                @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.NombreCompleto1).Titled("Nombre completo");
               columns.Add(c => c.NombreCompleto2).Titled("Nombre completo");
               columns.Add(c => c.Turno).Titled("Ronda");
           })


            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="col-md-12 rounded text-white text-center animate__animated animate__bounceInRight" style="background-color: #46B4A9; height: 100px; display: flex; justify-content: center; align-items: center; border-style: dotted; border-width: thick;">
            @{
                string nombre1 = Model.ToList().Where(c => c.Turno > 0).Select(a => a.NombreCompleto1).FirstOrDefault();
                string nombre2 = Model.ToList().Where(c => c.Turno > 0).Select(a => a.NombreCompleto2).FirstOrDefault();
                <h1>@nombre1 & @nombre2</h1>
            }

        </div>
        <div class="col-sm-3 rounded text-center"></div>
        <div class="col-md-12 rounded text-center animate__animated animate__fadeInRightBig" style="margin-top: 10px; height: 366px; border: solid #46B4A9; display: flex; justify-content: center; align-items: center; ">

            <div class="row">
                @{
                    DateTime fecha = Convert.ToDateTime(Model.ToList().Where(c => c.Turno > 0).Select(f => f.Fecha).FirstOrDefault());
                    <h1 style="color: #46B4A9; -webkit-text-stroke: 1px #C0EDE6; font-size: 60px; ">@fecha.ToLongDateString()</h1>
                }

            </div>
            <div class="row">
                <img src="~/imagenes/limpieza.jpg" />
            </div>
        </div>
    </div>
</div>



<!-- The Modal Administrar Mujeres -->
<div class="modal fade" id="ModalAdministrarMujeres">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title text-center">Administrar Analistas Mujeres</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <form method="post" action="Index2">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Ingresa analista 1" name="analista1">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Ingresa analista 2" name="analista2" />
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" name="btnagregar" class="btn btn-primary" value="Agregar" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="ID analista" name="idAnalistas">
                        </div>
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-2">
                            <input type="submit" name="btneliminar" class="btn btn-danger" value="Eliminar" />
                        </div>
                    </div>
                </form>

                <br />
                <div class="table-responsive">
                    @Html.Grid(Model).Columns(columns =>
               {
                   columns.Add(c => c.idAnalistasM).Titled("ID");
                   columns.Add(c => c.NombreCompleto1).Titled("Nombre completo");
                   columns.Add(c => c.NombreCompleto2).Titled("Nombre completo");
               })
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>




<!-- The Modal Ajustar Analistas Mujeres-->
<div class="modal fade" id="ModalAjustarMujeres">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title text-center">Ajustar Turno Mujeres</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <form method="post" action="Index2">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="ID analistas" name="idAnalistaActualizar">
                        </div>
                        <div class="col">
                            <input type="submit" name="btnactualizar" class="btn btn-primary" value="Actualizar" />
                        </div>
                    </div>
                </form>

                <br />
                <div class="table-responsive">
                    @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(c => c.idAnalistasM).Titled("ID");
                    columns.Add(c => c.NombreCompleto1).Titled("Nombre completo");
                    columns.Add(c => c.NombreCompleto2).Titled("Nombre completo");
                })
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>