@model IEnumerable<Tuturno.Models.AnalistasC>
@using GridMvc.Html
@using System.Globalization;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
</style>
<div class="mt-2 rounded text-center animate__animated animate__backInDown" style="background-color: #EBEFF1">
    <h1>CUMPLEAÑOS @DateTime.Now.Year</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="col-md-12 text-white rounded text-center animate__animated animate__bounceInLeft" style="background-color: #BA8EC1;" data-bs-toggle="tooltip" title=" @Model.ToList().Count() Analistas registrados">
            <h1>Analistas</h1>
        </div>

        <div class="col-md-12 rounded text-center animate__animated animate__bounceInUp" style="background-color: #EAD3EB;">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre completo</th>
                        <th>Día</th>
                        <th>Mes</th>
                    </tr>
                    @foreach (var item in Model.OrderBy(c => c.Fecha).ToList())
                    {
                        <tr>
                            <td>@item.NombreCompleto</td>
                            <td>@item.Fecha.Value.Day</td>
                            <td>@item.Fecha.Value.ToString("MMMM").ToUpper()</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="col-md-12 rounded text-white text-center animate__animated animate__bounceInRight" style="background-color: #B88EC3; height: 100px; display: flex; justify-content: center; align-items: center; border-style: dotted; border-width: thick;">
            @{
                string nombre = Model.ToList().Where(c => c.Fecha.Value.Month == @DateTime.Now.Month).Where(x => x.Fecha.Value.Day == @DateTime.Now.Day).Select(a => a.NombreCompleto).FirstOrDefault();
                if (nombre != null)
                {
                    <h1 style=""><p style="font-size: 20px; line-height: 0; margin-top: 13px;">¡¡¡FELIZ CUMPLEAÑOS A </p>@nombre!!!</h1>
                }
                else
                {
                    <h1 style=""><p style="font-size: 20px; line-height: 0; margin-top: 13px;">HOY NO HAY PASTEL :(</p></h1>
                }

            }

        </div>
        <div class="col-sm-3 rounded text-center"></div>
        <div class="col-md-12 rounded text-center animate__animated animate__fadeInRightBig" style="margin-top: 10px; height: 366px; border: solid #B88EC3; display: flex; justify-content: center; align-items: center; ">

            <div class="row"><h1 style="color: #B88EC3; -webkit-text-stroke: 1px #E9D0E5; font-size: 60px; ">@DateTime.Now.ToLongDateString()</h1></div>
            <div class="row">
                <img src="~/imagenes/cumple.jpg" />
            </div>
        </div>
    </div>
</div>


<!-- The Modal Administrar Cumpleaños -->
<div class="modal fade" id="ModalAdministrarCumpleanios">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title text-center">Administrar Cumpleaños</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-center">
                <form method="post" action="Index3">
                    <div class="row">
                        <span class="badge bg-danger">* En la fecha de cumpleaños a todos se les asigna el año 2000</span>
                    </div><br />
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Ingresa analista" name="analista">
                        </div>
                        <div class="col-sm-5">
                            <input type="date" class="form-control" name="fechaNacimiento" data-bs-toggle="tooltip" title="Fecha de nacimiento" />
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" name="btnagregar" class="btn btn-primary" value="Agregar" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="ID analista" name="idAnalistas">
                        </div>
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-2">
                            <input type="submit" name="btneliminar" class="btn btn-danger" value="Eliminar" />
                        </div>
                    </div>
                </form>

                <br />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Nombre completo</th>
                            <th>Día</th>
                            <th>Mes</th>
                        </tr>


                        @foreach (var item in Model.OrderBy(c => c.Fecha).ToList())
                        {
                            <tr>
                                <td>@item.idAnalistaC</td>
                                <td>@item.NombreCompleto</td>
                                <td>@item.Fecha.Value.Day</td>
                                <td>@item.Fecha.Value.ToString("MMMM").ToUpper()</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>